




  <div id="Contenido_principal">  

    <div class="row row-cols-3 ">
      <div  class="col"><button (click)="Salir()" class="btn_Herramientas "><img class="img_herramienta" src="../../assets/imagenes/salir.png"></button> </div>
      <div   class="col"> <p id="cronometro">{{cronometro.miTiempo}}</p></div>
      <div *ngIf="!partidaIniciada"  class="col"><button (click)="ComienzoPartida()"  class="btn_Herramientas"><img class="img_herramienta" src="../../assets/imagenes/play.png"></button> </div>
      <div *ngIf="partidaTerminada"  class="col"><button (click)="Reiniciar()"  class="btn_Herramientas"><img class="img_herramienta" src="../../assets/imagenes/reiniciar.png"></button> </div>
    </div>
    
    <div class="container text-center fondo">

      <div *ngIf="!partidaTerminada" class="row row-cols-4 ">
        <div *ngFor="let ficha of fichas" class="col"><button [disabled]="!partidaIniciada || noSePreciona" (click)="SelecFicha(ficha)" class="btn_jugar"><img class="img_ficha" src="{{ficha.imagen_muestra}}" ></button> </div>
      </div>
      
      <div *ngIf="partidaTerminada" class="row row-cols-1 ">
        <div  class="col">

          <div class="card fin_partida">
            <div class="card-body">
              <h5 class="card-title">Partida Finalizada</h5>
              <h6 *ngIf="cronometro.miTiempo === '00:00'" class="card-subtitle mb-2 text-body-secondary">Perdiste! no terminaste a tiempo</h6>
              <h6 *ngIf="primerPartidaGanada" class="card-subtitle mb-2 text-body-secondary">GANASTE EL PRIMER INTENTO! Obtienes un 20% de descuento!!</h6>
              <h6 *ngIf="cronometro.miTiempo !== '00:00'" class="card-subtitle mb-2 text-body-secondary">Ganaste! Tu tiempo restante fue de {{cronometro.miTiempo}} m/s</h6>
            </div>
          </div>

        </div>
      </div>
     
    </div>
  
  </div>

