<div id="Contenido_principal">
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="CerrarJuego()">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <div class="simon-game">
      <h1>SIMON</h1>
      <p>Puntuacion: {{ level }}</p>
      <button (click)="startGame()" [disabled]="isGameOn">Iniciar juego</button>
      <button (click)="restartGame()" [disabled]="!isGameOn">Reiniciar</button>
      <div class="simon-board">
        <div class="button-container">
          <div class="simon-button green" (click)="handleUserInput(1)" [class.active]="colorActivo === 1"></div>
          <div class="simon-button red" (click)="handleUserInput(2)" [class.active]="colorActivo === 2"></div>
          <div class="simon-button yellow" (click)="handleUserInput(3)" [class.active]="colorActivo === 3"></div>
          <div class="simon-button blue" (click)="handleUserInput(4)" [class.active]="colorActivo === 4"></div>
        </div>
      </div>
      <br>
      <p *ngIf="isGameOver">Has perdido :(</p>
      <p style="color: green;" *ngIf="victoria">Felicidades, disfruta tu descuento :)</p>
    </div>
</div>