<ion-menu *ngIf="bd.log" menuType="overlay" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{bd.userType}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-chip (click)="HomePage()">
      <img src="../assets/imagenes/house-door.svg" />
    </ion-chip>
    <br *ngIf="bd.userType === 'Supervisor' || bd.userType === 'Propietario'">
    <ion-chip *ngIf="bd.userType === 'Supervisor' || bd.userType === 'Propietario'" (click)="AprobarClientes()">
      <img src="../assets/imagenes/person-fill-check.svg" />
    </ion-chip>
    <br *ngIf="bd.userType === 'Supervisor' || bd.userType === 'Propietario' || bd.userRol === 'Metre'">
    <ion-chip *ngIf="bd.userType === 'Supervisor' || bd.userType === 'Propietario' || bd.userRol === 'Metre'" (click)="FilaClientes()">
      <img src="../assets/imagenes/person-lines-fill.svg" />
    </ion-chip>
    <br *ngIf="bd.userType === 'Supervisor' || bd.userType === 'Propietario' || bd.userRol === 'Metre'">
    <ion-chip *ngIf="bd.userType === 'Supervisor' || bd.userType === 'Propietario' || bd.userRol === 'Metre'" (click)="SolicitarMesa()">
      <img src="../assets/imagenes/qr-code-scan.svg"  />
    </ion-chip>
    <br *ngIf="bd.userRol === 'Mozo'">
    <ion-chip *ngIf="bd.userRol === 'Mozo'" (click)="MostrarChat()">
      <img src="../assets/imagenes/chat.svg" />
    </ion-chip>
    <br *ngIf="bd.userRol === 'Mozo'">
    <ion-chip *ngIf="bd.userRol === 'Mozo'" (click)="MostrarPedidosMozo()">
      <img src="../assets/imagenes/pedidos.svg" />
    </ion-chip>
    <br *ngIf="bd.userRol === 'Mozo'">
    <ion-chip *ngIf="bd.userRol === 'Mozo'" (click)="SolicitarPago()">
      <img src="../assets/imagenes/pagar.svg"  />
    </ion-chip>
    <br *ngIf="bd.userRol === 'Cocinero'">
    <ion-chip *ngIf="bd.userRol === 'Cocinero'" (click)="MostrarCocinaCocineros()">
      <img src="../assets/imagenes/cocina.svg" />
    </ion-chip>
    <br *ngIf="bd.userRol === 'Bartender'">
    <ion-chip *ngIf="bd.userRol === 'Bartender'" (click)="MostrarBarBartender()">
      <img src="../assets/imagenes/tragos.svg" />
    </ion-chip>
    <br *ngIf="bd.userType === 'Cliente'">
    <ion-chip *ngIf="bd.userType === 'Cliente'" (click)="MostrarMesaCliente()">
      <img src="../assets/imagenes/sillas-y-mesa-de-restaurante.png" />
    </ion-chip>
    <br>
    <ion-chip (click)="Salir()">
        <img src="../assets/imagenes/door-open-fill.svg" />
    </ion-chip>
    <!-- <ion-chip (click)="Propietario()">
      <ion-avatar>
        <img src="../../assets/imagenes/propietario.png" />
      </ion-avatar>
      <h3>Propietario</h3>
    </ion-chip>
    <ion-chip (click)="Supervisor()">
      <ion-avatar>
        <img src="../../assets/imagenes/supervisor.png" />
      </ion-avatar>
      <h3>Supervisor</h3>
    </ion-chip>
    <ion-chip (click)="Metre()">
      <ion-avatar>
        <img src="../../assets/imagenes/empleado.png" />
      </ion-avatar>
      <h3>Metre</h3>
    </ion-chip> -->
   <!-- <ion-chip (click)="Cliente()">
      <ion-avatar >
        <img src="../../assets/imagenes/cliente.png" />
      </ion-avatar>
      <h3>Cliente</h3> 
    </ion-chip> -->
    <!-- <ion-chip (click)="Anonimo()">
      <ion-avatar >
        <img src="../../assets/imagenes/anonimo.png" />
      </ion-avatar>
      <h3>Anonimo</h3>
    </ion-chip> -->
  </ion-content>
</ion-menu>
  <ion-header *ngIf="bd.log">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: black;"></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>

    </ion-toolbar>
  </ion-header>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
