
<div id="div_principal" *ngIf="!qr.scan">

  <div *ngIf="!cliente.enFila && !noUser" class="card card_div" style="width: 18rem;padding: 0.5px;">
    <img [src]="usuario.imagen.path">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">{{usuario.nombre}} {{usuario.apellido}}</h5></div>
    <ul class="list-group list-group-flush" style="font-weight: bolder;font-size: large;" >
      <li style="background-color: #8AC926;" class="list-group-item">Perfil: {{usuario.perfil}}</li>
      <li *ngIf="usuario.perfil=== 'Empleado'" style="background-color: #8AC926;" class="list-group-item">Tipo: {{usuario.tipo}}</li>
      <li  style="background-color: #8AC926;" class="list-group-item">DNI: {{usuario.dni}}</li>
      <li  *ngIf="usuario.perfil=== 'Empleado' || usuario.perfil=== 'Propietario' || usuario.perfil=== 'Supervisor'" style="background-color: #8AC926;" class="list-group-item">CUIL: {{usuario.cuil}}</li>
      <li  *ngIf="usuario.perfil=== 'Cliente' && cliente.mesa_asignada !== 0" style="background-color: #8AC926;" class="list-group-item">Mesa Asignada N°: {{cliente.mesa_asignada}}</li>

    </ul>
  </div>

  <div *ngIf="cliente.enFila" class="card card_div" style="width: 18rem;padding: 0.5px;">
    <img src="../../assets/imagenes/gifCargaMesa.gif">
    <div class="card-body">

    </div>
  </div>

  <div *ngIf="usuario.perfil === 'Cliente'">
    <ion-button *ngIf="cliente.enFila"  (click)="SalirDeFila()"  size="large" fill="solid"  expand="block" id="btn_cancelar">Cancelar Solicitud</ion-button>
    <ion-button  *ngIf="cliente.mesa_asignada !== 0" (click)="MiMesa()"  size="large" fill="solid"  expand="block" id="btn_cancelar">Mi Mesa</ion-button>
    <ion-button  *ngIf="cliente.enFila ||  cliente.mesa_asignada !== 0" (click)="VerEncuestas()"  size="large" fill="outline"  expand="block" id="btn_encuestas">Ver Encuestas</ion-button>
  </div>

</div>

<!-- ******************************* SPINNER *******************************-->
<div *ngIf="loading" class="custom-spinner">
  <h1 class="spinnerh1">Cargando...</h1>
  <img src="../../assets/icon/empresa.png" alt="Custom Spinner" />
</div>

<ion-footer *ngIf="cliente.perfil === 'Cliente'" [translucent]="true">
  <ion-button  (click)="ScanQrLocal()"  fill="outline" id="btn_qr"  >
    <img src="../../../assets/imagenes/qr.png"  id="img_qr">
  </ion-button>
</ion-footer>
